/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
#page {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  *position: relative;
  *zoom: 1;
}
/* line 52, ../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 23, ../sass/screen.scss */
.logo {
  float: left;
  width: 33.333%;
  margin-left: 0%;
  margin-right: -33.333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 27, ../sass/screen.scss */
.section {
  float: right;
  width: 66.667%;
  margin-right: 0%;
  margin-left: -66.667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 31, ../sass/screen.scss */
img {
  width: 100%;
}

/* line 35, ../sass/screen.scss */
body {
  font-family: 'Muli', 'Helvetica', Arial, sans-serif;
  line-height: 1.35em;
  margin-top: 8%;
}

/* line 41, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  line-height: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 50, ../sass/screen.scss */
a {
  color: #d94013;
  text-decoration: none;
}
/* line 55, ../sass/screen.scss */
a:hover, a:focus {
  border-bottom: 1px dashed #d94013;
}

@media all and (max-width: 600px) {
  /* line 63, ../sass/screen.scss */
  body {
    text-align: center;
  }

  /* line 67, ../sass/screen.scss */
  h1 {
    font-size: 1.5em;
  }

  /* line 71, ../sass/screen.scss */
  .logo {
    float: left;
    width: 66.667%;
    margin-left: 16.667%;
    margin-right: -83.333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    margin-bottom: 35px;
  }

  /* line 76, ../sass/screen.scss */
  .section {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }

  /* line 81, ../sass/screen.scss */
  p {
    margin-bottom: 0.5em;
  }

  /* line 85, ../sass/screen.scss */
  a {
    float: left;
    width: 66.667%;
    margin-left: 16.667%;
    margin-right: -83.333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    display: block;
    padding: 13px 28px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df701f), color-stop(13%, #e68022), color-stop(100%, #d14d1a));
    background-image: -webkit-linear-gradient(#df701f, #e68022 13%, #d14d1a);
    background-image: -moz-linear-gradient(#df701f, #e68022 13%, #d14d1a);
    background-image: -o-linear-gradient(#df701f, #e68022 13%, #d14d1a);
    background-image: -ms-linear-gradient(#df701f, #e68022 13%, #d14d1a);
    background-image: linear-gradient(#df701f, #e68022 13%, #d14d1a);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #D14D1A;
    margin-top: 25px;
  }
  /* line 100, ../sass/screen.scss */
  a:hover, a:focus {
    -webkit-box-shadow: 0 0 2px #d14d1a;
    -moz-box-shadow: 0 0 2px #d14d1a;
    box-shadow: 0 0 2px #d14d1a;
  }
}
